<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><%= link_to "Locations", locations_path, class:"blue-text text-ocm-default" %></li>
      <li class="tab col s3"><%= link_to "Document Types", document_types_path, class:"blue-text text-ocm-default" %></li>
      <li class="tab col s3"><%= link_to "Asset Types", asset_details_path, class:"blue-text text-ocm-default" %></li>
      <li class="tab col s3"><%= link_to "Department", departments_path, class:"blue-text text-ocm-default" %></li>
    </ul>
  </div>
</div>