<br/>
<div class="row">
  <div class="center col m4">
    <a href="/employees">
    <div class="card blue ocm-default">
      <div class="card-content white-text">
        <span class="card-title">
          <i class="material-icons large">group</i>
        </span>
        <p>Employees</p>
      </div>
    </div>
    </a>
  </div>

  <div class="center col m4">
    <a href="/locations">
    <div class="card blue ocm-default">
      <div class="card-content white-text">
        <span class="card-title">
          <i class="material-icons large">person_pin</i>
        </span>
        <p>Location Data</p>
      </div>
    </div>
    </a>
  </div>

  <div class="center col m4">
    <a href="/employees/new">
      <div class="card blue ocm-default">
        <div class="card-content white-text">
          <span class="card-title">
            <i class="material-icons large">group_add</i>
          </span>
          <p>Add Employee</p>
        </div>
      </div>
    </a>
  </div>
  
</div>