<%= form_with model: @document_type do |form| %>
  <div class="row">
    <div class="input-field col m6">
      <%= form.text_field :document_category %>
      <%= form.label :document_category, "Document Category" %>
    </div>
  </div>

  <div class="col m3">
    <%= button_tag :submit, class:"btn waves-effect waves-light red" do %>
      <% if @document_type.new_record? %>
        Submit <i class='material-icons right'>send</i>
      <% else %>
        Update <i class='material-icons right'>update</i>
      <% end %>
    <% end %>
  </div>

<% end %>