<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Location", employees_path %></li>
  <li><a href="#!" style="padding-left:8px;">Ex Employees</a></li>
  <li class="divider" tabindex="-1"></li>
  <li><%= link_to "Configuration", configuration_path, style: "padding-left:8px;" %></li>
</ul>
<nav>
  <div class="nav-wrapper blue ocm-default">
    <div class="container">
      <a href="/" class="brand-logo">OCM</a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "Employees", employees_path %></li>
        <li><%= link_to "Locations", locations_path %></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Setup<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // $('.dropdown-trigger').dropdown();
  document.addEventListener('turbolinks:load', () => {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems);
  });
</script>